/*deel 1, opdracht 1*/
.opdracht-1 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*deel 1, opdracht 2*/
[class^="opdracht-"] {
    border: 3px, solid, #000;
}

.opdracht-2 ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

.opdracht-2 li {
    flex: 1;
}

/*deel 1, opdracht 3*/
 .opdracht-3 .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.opdracht-3 li:nth-child(1) {
    align-self: flex-start;
}

.opdracht-3 li:nth-child(2) {
    align-self: center;
}

.opdracht-3 li:nth-child(3) {
    align-self: flex-end;
}

/*deel 1, opdracht 4*/
.opdracht-4 .flex-container {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    gap: 10px;
}
