/*deel 2, opdracht 2*/
body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin: 0;
}

.col-1 {
    flex: 0 0 250px;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    position: sticky;
    top: 0;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

header,
footer {
    flex: 0 0 150px;
}

article {
    flex-grow: 1;
}